body{
    background-image: url(https://i.pinimg.com/originals/9e/62/4b/9e624bf0f60db7fa6cb5c01850b95e02.png);
    background-color: rgb(206, 211, 218);
    background-repeat: repeat;
    background-size: cover;
}
header #eu{
    border-radius: 50%;  
    position: relative;
    top:10px;
    left: 44%; 
}
header {
background-repeat: no-repeat;
background-size: cover;
}
#menu ul {
    background-image: url(https://i.pinimg.com/originals/9e/62/4b/9e624bf0f60db7fa6cb5c01850b95e02.png);
    list-style:none;
    
    
}
#menu ul li {
    display: inline; 
    position:relative;
    left: 45%;
    top: 50%;
    padding: 1px;
   
    
}
#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
    background-color: #271188;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    
}
#menu ul li a:hover {
    background-color:#d6d6d6;
    color: #000000;
    
}
.quadrado{
    position:relative;
    left: 27%;
    background-color: #1e7ebe;
    width: 600px;
}

.fundo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    height: 360px;
    width: 600px;
    position:relative;
    left: 27%;
}
.fundo form{
    position:relative;
    left: 10%;
}
.fundomaps{
    text-align: center;
    position:relative;
    left: 27%;
    height: 330px;
    width: 600px;

}

.fundomaps iframe{
    text-align: center;
    position:relative;
    top: 15px;
    left: 8%;
}


.txtMapa{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
   
    
    

}

.tm-social{
    width: 50px;
    height: 50px;
}
